.symbolsView__content {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
  .symbolsView__content {
    flex-direction: column;
  }
}

.symbolsView__chart {
  padding: 0 var(--padding-large);
}

.symbolsView__grid {
  flex-grow: 1;
  padding: var(--padding-large);
  background-color: var(--colorTertiary);
}
